@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.body {
  width: 980px;
  padding-top: 70px;
}
.menu {
  width: 900px;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}
.mune__item {
  width: auto;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 3px;
  background-color: coral;
}
.mune__item a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.container-block {
  display: flex;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.container-block__viewCats,
.container-block__viewPosts {
  display: block;
  width: 450px;
}
.container-block__viewCats li,
.container-block__viewPosts li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.form-container .form-container__input {
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px coral;
  border-radius: 3px;
}
.form-container select {
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-container textarea {
  width: 700px;
  resize: vertical;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px coral;
}
.container-block .mune__item {
  margin-top: 15px;
  margin-bottom: 15px;
}
