@import url('https://fonts.googleapis.com/css?family=Roboto');
@-ms-viewport {
  width: device-width;
  zoom: "1.0";
}
@-o-viewport {
  width: device-width;
  zoom: "1.0";
}
@viewport {
  width: device-width;
  zoom: "1.0";
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
a {
  text-decoration: none;
}
/* Цвета сайта и терминала */
.dog-color {
  color: #c0a79a;
}
.email-color {
  color: #4c9882;
}
.green {
  color: #71949a;
}
.violet {
  color: #837698;
}
/* Размеры экранов */
/* Основные стили сброса тегов*/
.clear-block {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Декоративные элементы */
.prefix:before {
  content: '$';
  display: block;
  position: absolute;
  top: 4px;
  left: -10px;
  font-size: 14px;
  color: #4c9882;
}
.body {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 720px;
  background-color: #494658;
  background-image: url("/static/img/cherry-blossom-backgrounds-1920x1200_1.jpg");
  background-position: 50% 0%;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
}
.terminal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #312e39;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}
.terminal-window {
  position: relative;
  width: 280px;
  height: auto;
}
.terminal-window:nth-child(1):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 280px;
  background-color: #1c1c1c;
}
.terminal-window__inner-container {
  display: flex;
  flex-direction: column;
}
.terminal-window_empty {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #837698;
}
.terminal-window_empty:first-child {
  padding-top: 5px;
}
.terminal-window_empty:last-child {
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .terminal {
    flex-direction: row;
    width: 760px;
    height: 440px;
  }
  .terminal-window {
    width: 380px;
  }
  .terminal-window:nth-child(2) {
    width: 340px;
  }
  .terminal-window:nth-child(1):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 384px;
    width: 1px;
    background-color: #1c1c1c;
  }
  .terminal-window__inner-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1150px) {
  .terminal {
    width: 980px;
    height: 440px;
  }
  .terminal-window {
    width: 440px;
  }
  .terminal-window:nth-child(2) {
    width: 500px;
  }
}
.avatar {
  width: 280px;
  height: 230px;
}
.avatar img {
  display: block;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .avatar {
    width: 280px;
    height: 230px;
  }
  .avatar img {
    height: 230px;
  }
}
@media screen and (min-width: 1150px) {
  .avatar {
    width: 200px;
    height: 190px;
  }
  .avatar img {
    height: 190px;
  }
}
.description-site {
  display: flex;
  flex-direction: column;
  color: #816c84;
  font-weight: bold;
}
.description-site__emaile {
  color: #837698;
}
.description-site__separator {
  position: relative;
  top: -3px;
  color: #c0a79a;
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 10px;
}
.terminal-window__inner-container--addition .description-site__header {
  color: #837698;
  padding-top: 3px;
  padding-bottom: 3px;
}
.description-site__header {
  padding-left: 5px;
  font-weight: 700;
  font-size: 14px;
}
.text-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 20px;
  color: #4c9882;
}
.text-field__input {
  position: relative;
  width: 418px;
  height: 25px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.text-field__inner-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}
.text-field__category {
  position: relative;
  width: 120px;
  padding-left: 20px;
  line-height: 20px;
}
.category__icons {
  position: absolute;
  left: -10px;
  top: 5px;
}
.text-field__root {
  display: flex;
  position: relative;
  padding-top: 3px;
  width: 418px;
  height: 25px;
}
.footer__icons.people {
  position: relative;
  top: 3px;
  margin-right: 5px;
  color: #71949a;
}
.footer__icons.folder {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.footer__icons.folder,
.footer__icons.str {
  color: #837698;
}
@media screen and (min-width: 1150px) {
  .text-field {
    width: 100%;
    height: 150px;
  }
}
.terminal-send-container {
  display: block;
  position: relative;
  padding-left: 20px;
}
.terminal-send-container__input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #4c9882;
  border: 0;
  background-color: transparent ;
}
.terminal-send-container .prefix::before {
  left: 10px;
}
.terminal-send-container__input:focus {
  outline: 0;
}
.post {
  position: relative;
  padding-left: 25px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  width: 170px;
}
.post:first-child {
  padding-top: 5px;
}
.post:first-child .post__icon {
  top: 8px;
}
.post:last-child {
  padding-bottom: 5px;
}
.post__icon {
  position: absolute;
  left: 5px;
  top: 5px;
}
.post:hover {
  color: #312e39;
  background-color: #837698;
}
.windows-decorations {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.windows-decorations__number {
  height: 24px;
  line-height: 18px;
  font-size: 15px;
  padding: 3px 8px;
  position: relative;
  top: 0;
}
.windows-decorations__red-bg {
  color: #c0a79a;
  background-color: #783e57;
}
.windows-decorations__f-bg {
  color: #c0a79a;
  background-color: #615772;
}
.windows-decorations__fd-bg {
  color: #554752;
  background-color: #33303b;
}
.windows-decorations__item-left,
.windows-decorations__item-right {
  height: 24px;
}
.windows-decorations__item-right {
  margin-left: auto;
  display: block;
}
.windows-decorations__item-left {
  padding-right: 5px;
  padding-top: 2px;
  margin-right: 15px;
}
.status-stroke {
  font-size: 14px;
  color: #c0a79a;
  padding-left: 5px;
}
.status-stroke .dop {
  color: #554752;
}
