<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <div class="menu">
        <span class="mune__item">
            <a href="/dashboard/catAdd/">Добавить категорию</a>
        </span>
        <span class="mune__item">
            <a href="/dashboard/postAdd/">Добавить пост</a>
        </span>
    </div>
    <div class="container-block">
        <ul class="container-block__viewCats">
            <li>Список категорий:</li>
            {% if categories %}
                {% for cat in categories %}
                    <li>{{ cat.title }}</li>
                {% endfor %}
            {% endif %}

        </ul>
        <ul class="container-block__viewPosts">
            <li>Список постов:</li>
            {% if posts %}
                {% for post in posts %}
                    <li>{{ post.title }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</body>
</html>