<head>
    <meta charset="UTF-8">
     <title>{%- if meta_title -%}{{ meta_title }}{%- else -%}FlaskBlog{%- endif -%}</title>
	<meta name="description" content="{{ meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app/server-response-mock.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app/app.js') }}"></script>
</head>
