<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% include 'head.html' %}
{% endblock %}
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="/login" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Логин</label>
              <input name="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Пароль</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" value="True" type="checkbox" name="remember">
                  Запомнить меня
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
            {% if message %}
              <div class="col align-items-center">
                <h4 style="color: red">{{ message }}</h4>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
</body>
</html>