<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container-block">
        <form class="form-container" method="post" enctype="multipart/form-data">
            <input class="form-container__input" name="title">
            <select name="category_id">
                {% if categories %}
                    {% for cat in categories %}
                        <option>{{ cat.title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <textarea name="content"></textarea>
            <input type="submit" value="Добавить пост">
            <input type="file" name="file">
        </form>
        <span class="mune__item">
            <a href="/dashboard/">Назад</a>
        </span>
    </div>
</body>
</html>