<div class="terminal">
    <div class="terminal-window">
        <div class="terminal-window__inner-container">
            <div class="avatar">
                <img src="/static/img/avatar.png">
            </div>
            <div class="description-site">
                <span class="description-site__emaile">
                    test<i class="dog-color">@</i>test.net
                </span>
                <span class="description-site__separator">
                    .........
                </span>
                <span class="description-site__os">
                    OS <i class="dog-color">:   Qnix</i>
                </span>
                <span class="description-site__kernel">
                    Kernel <i class="dog-color">:   0.11.23-58-ARCH</i>
                </span>
                <span class="description-site__shell">
                    Shell <i class="dog-color">:   Sirill 1321</i>
                </span>
                <span class="description-site__separator">
                    .................
                </span>
                <span class="description-site__wm">
                    WM <i class="dog-color">:   MEINE Shell</i>
                </span>
                <span class="description-site__theme">
                    Theme <i class="dog-color">:   Futaba-steal</i>
                </span>
                <span class="description-site__icons">
                    Icons <i class="dog-color">:   None</i>
                </span>
                <span class="description-site__separator">
                    .................
                </span>
                <span class="description-site__resolution">
                    Resolution <i class="dog-color">:    wd</i>
                </span>
            </div>
        </div>
        <div class="terminal-window__inner-container">
            <div class="text-field">
                <span class="text-field__root prefix">
                    futjizawa
                    <svg class="footer__icons" width="23.494px" height="20.168px">
                        <use xlink:href="#angle-right-solid"></use>
                    </svg>
                    <svg class="footer__icons people" width="12.494px" height="12.168px">
                        <use xlink:href="#user-solid"></use>
                    </svg>
                    <i class="green">home</i>
                    <svg class="footer__icons green" width="23.494px" height="20.168px">
                        <use xlink:href="#angle-right-solid"></use>
                    </svg>
                    <svg class="footer__icons folder" width="12px" height="12px">
                        <use xlink:href="#folder-solid"></use>
                    </svg>
                    <i class="violet">~</i>
                    <svg class="footer__icons str" width="23.494px" height="20.168px">
                        <use xlink:href="#angle-right-solid"></use>
                    </svg>
                </span>
                <span class="text-field__input prefix">
                    dfsfdf
                </span>
                <span class="text-field__input prefix">
                    <i class="dog-color">ls bin</i>
                </span>
                <div class="text-field__inner-container">
                {% for category in categories%}
                    <span class="text-field__category">
                        <svg class="category__icons" width="12px" height="12px">
                            <use xlink:href="#folder-solid"></use>
                        </svg>
                        {{ category.title }}
                    </span>
                {% endfor %}
                </div>
            </div>
        </div>
        <form class="terminal-send-container" method="post" enctype="multipart/form-data">
            <label class="prefix"></label>
            <input id="terminal-input" class="terminal-send-container__input" type="text" name="a" autofocus="">
        </form>
    </div>
    <div class="terminal-window">
        <div class="terminal-window__inner-container terminal-window__inner-container--addition">
            <span class="description-site__header">
                <i class="email-color">antonkruhliashou@vivaldi.net</i> /home/documents/<i class="dog-color">{{ category }}</i>
            </span>
        </div>
        <div class="terminal-window_empty">

        </div>
        <div class="status-stroke">
            <span class="dop">drwxr-xr-x</span> 2 kp users 11 2018-01-30 00:16 42.8k sum, 149G free 27/07 All
        </div>
    </div>
    <div class="windows-decorations">
        <span class="windows-decorations__item-left windows-decorations__red-bg">
            <i class="windows-decorations__number windows-decorations__f-bg">1</i>
            python
        </span>
        <span class="windows-decorations__item-left windows-decorations__fd-bg">
            <i class="windows-decorations__number">2</i>
            ncmpcpp
        </span>
        <span class="windows-decorations__item-left windows-decorations__fd-bg">
            <i class="windows-decorations__number">3</i>
            irssi
        </span>
        <span class="windows-decorations__item-right">
            <i class=""></i>
            time
            {{ time }}
        </span>
    </div>
</div>


